<div class="modal fade" tabindex="-1" data-bs-keyboard="false" id="confirmationModal" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg model-view">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class="modal-body">
                <span id="confirmationMessage"></span>
            </div>
            <div class="modal-footer">
                <a class='btn btn-submit color-purple button button4' id='proceed-btn' href="#">Proceed</a>
                <button type='button' class='btn btn-danger button button4' data-bs-dismiss='modal'>Cancel</button>
            </div>
        </div>
    </div>
</div>
