@* @{
	Layout = "~/Views/Shared/_Layout.cshtml";
} *@

<div class="d-flex flex-column align-content-center align-items-center justify-content-center">
	<img src="~/assets/Images/empty-task-list.gif" width="250" />

	<h1 class="color-purple">
		<img src="~/assets/Images/frustrated.png" width="35" />
		No Data found
		<img src="~/assets/Images/frustrated.png" width="35" />
	</h1>
</div>