@model LMS.Application.Contracts.DTOs.User.ChangePasswordDto

@{
    ViewData["Id"] = "authChangePasswordModel";
    ViewData["ModelTitle"] = "Change password";

    bool useLayout = ViewData["UseLayout"] as bool? ?? true;
    Layout = useLayout ? "~/Views/Shared/_ModalLayout.cshtml" : null;
}

<form asp-action="AuthChangePassword" class="needs-validation" id="authChangePasswordForm" method="post">
    <div class="row mt-2">
        <div class="col-md change-password-col">
            <div class="did-floating-label-content">
                <input asp-for="EmailOrUsername" type="text" class="did-floating-input" placeholder="">
                <label asp-for="EmailOrUsername" class="did-floating-label">Email or Username<sup class="text-danger">*</sup></label>
                <span asp-validation-for="EmailOrUsername" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md change-password-col">
            <div class="did-floating-label-content">
                <div class="password-container">
                    <input asp-for="NewPassword" class="did-floating-input" type="password" placeholder="">
                    <label asp-for="NewPassword" class="did-floating-label">New Password<sup class="text-danger">*</sup></label>
                    <span class="togglePassword" onmousedown="passwordVisibilityStart(this)" onmouseup="passwordVisibilityEnd(this)">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md change-password-col">
            <div class="did-floating-label-content">
                <div class="password-container">
                    <input asp-for="ConfirmPassword" class="did-floating-input" type="password" placeholder="">
                    <label asp-for="ConfirmPassword" class="did-floating-label">Confirm Password<sup class="text-danger">*</sup></label>
                    <span class="togglePassword" onmousedown="passwordVisibilityStart(this)" onmouseup="passwordVisibilityEnd(this)">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-submit color-purple w-100 mt-3 mb-2" id="auth-change-password-btn">Change Password</button>
</form>

<script>
    $(document).ready(function ()
    {
        if ($('#authChangePasswordModel').length && $('#authChangePasswordModel').is(':hidden'))
        {
            $('#authChangePasswordModel').modal('show');
        }
    });

    $(document).off("submit", "#authChangePasswordForm").on("submit", "#authChangePasswordForm", function (event)
    {
        event.preventDefault();
        toggleButtonState('#auth-change-password-btn', true, 'color-purple btn-submit');

        if ($(this).valid())
        {
            let formData = new FormData(this);
            this.reset();

            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response, status, xhr)
                {
                    if (xhr.getResponseHeader("content-type").toLowerCase().includes("text/html"))
                    {
                        $("#authChangePasswordForm .modal-body").html(response);
                    } else if (response.success)
                    {
                        window.location.href = response.visit;
                    }
                },
                complete: function ()
                {
                    toggleButtonState('#auth-change-password-btn', false, 'color-purple btn-submit');
                }
            });
        } else
        {
            toggleButtonState('#auth-change-password-btn', false, 'color-purple btn-submit');
        }
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}