<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body style="font-family: Arial, sans-serif; margin: 10px; padding: 10px; background-color: #f4f4f4; color: #333;">
        <div style="background-color: #fff; border-radius: 8px; padding: 20px; max-width: 600px; margin: 20px auto;">
            <div class="text-center" style="font-family: Arial, sans-serif; font-size: 14px;">
                {{Mail text}}
            </div>
            <div>
                <p>Visit <a href="{{link}}">Library Management System</a> for more details.</p>
            </div>
        </div>
        <footer>
            <p>
                <small>
                    This is the automated notification from the Library Management System (LMS), don't reply to this email address as it is not monitored. If you need any assestance, please contact an librarian for further queries or visit our online platform <a href="https://localhost:7184/">Library Management System</a>.
                </small>
            </p>
        </footer>
    </body>
</html>
