.did-floating-label-content {
    position: relative;
    margin-bottom: 18px;
}

.did-floating-label {
    color: #6d1d76;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    padding: 0 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    z-index: 1;
}

.did-floating-input, .did-floating-select {
    font-size: 15px;
    display: block;
    width: 100%;
    height: 42px;
    padding: 0 15px;
    background: #fff;
    color: #323840;
    border: 1px solid #dddddde8;
    border-radius: 10px;
    box-sizing: border-box;
}

.did-floating-textarea {
    font-size: 15px;
    display: block;
    width: 100%;
    max-height: 300px;
    min-height: 42px;
    padding: 0 15px;
    background: #fff;
    /*color: #6d1d76;*/
    border: 1px solid #dddddde8;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 8px;
    overflow: auto;
}

.did-floating-input:focus, .did-floating-select:focus, .did-floating-textarea:focus {
    outline: none;
}

.did-floating-input:focus ~ .did-floating-label, .did-floating-select:focus ~ .did-floating-label, .did-floating-textarea:focus ~ .did-floating-label {
    top: -12px;
    font-size: 15px;
}

select.did-floating-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.did-floating-select::-ms-expand {
    display: none;
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label, .did-floating-textarea:not(:placeholder-shown) ~ .did-floating-label, .did-floating-select:not([value=""]):valid ~ .did-floating-label, .select2-container--disabled ~ .did-floating-label {
    top: -12px;
    font-size: 15px;
}

.did-floating-select[value=""]:focus ~ .did-floating-label {
    top: 11px;
    font-size: 15px;
}

.input-group {
    display: flex;
}

.input-group .did-floating-input {
    border-radius: 0 4px 4px 0;
    border-left: 0;
    padding-left: 0;
}

.input-group-append {
    display: flex;
    align-items: center;
}

.input-group-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    height: 38px;
    color: #6d1d76;
    padding: 0 15px;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #dddddde8;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.bi-cloud-arrow-up-fill::before {
    font-size: 30px;
    margin-right: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

input[aria-invalid="true"], select[aria-invalid="true"], textarea[aria-invalid="true"] {
    border: 1px solid rgb(220, 53, 69) !important;
}

input[aria-invalid="true"] ~ .did-floating-label, textarea[aria-invalid="true"] {
    color: rgb(220, 53, 69) !important
}

input:disabled, input[readonly], textarea[readonly] {
    background-color: #eee;
    pointer-events: none;
}

.did-floating-select:disabled {
    background-color: #eee;
}

.did-floating-label::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 55%;
    transform: translateY(-50%);
    left: 0;
    z-index: -1;
    background: #fff;
}

input[readonly] ~ .did-floating-label::before, textarea[readonly] ~ .did-floating-label::before {
    background: #eee;
}

.disabled-input ~ .did-floating-label::before, .did-floating-select:disabled ~ .select2 ~ .did-floating-label::before, .did-floating-select:disabled ~ .did-floating-label::before {
    background: #eee;
}

.disabled-input{
    pointer-events: none;
}

.did-floating-input:disabled ~ .did-floating-label::before {
    background: #eee;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected {
    -webkit-box-shadow: 0 0 0 30px #FFF inset !important;
}