.sidebar {
    width: 250px;
    height: 100vh;
    transition: width 0.5s ease-in-out;
    flex-shrink: 0;
    position: absolute;
    scrollbar-width: thin;
}

.sidebar .sidebar-menu {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sidebar.hidden {
    width: 0;
    overflow: hidden;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #8400db !important;
    border-color: #1861ac;
}

.dropdown-item:active,
.dropdown-item:focus {
    background-color: #8400db !important;
    color: #ffffff !important;
}

.main-content {
    margin-left: 250px;
    transition: all 0.5s ease;
}

.nav-item.has-submenu {
    position: relative;
}

.nav .submenu {
    opacity: 0;
    visibility: hidden;
    display: none;
    transform: translateX(20px);
    pointer-events: none;
    /*position: absolute;*/
    top: 0;
    left: 100%;
    background-color: #34495e;
    min-width: 220px;
    z-index: 1000;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-item.has-submenu:hover > .submenu,
.nav-item.has-submenu > .submenu:hover {
    opacity: 1;
    visibility: visible;
    display: block;
    transform: translateX(5px);
    pointer-events: auto;
}

.menu-title i.bi-caret-right-fill {
    transition: transform 0.3s ease-in-out;
}

.nav-item:hover > .menu-title i.bi-caret-right-fill {
    transform: rotate(90deg) translateX(5px);
}

.nav .submenu .nav-link {
    padding: 10px;
    white-space: nowrap;
}

@media (max-width: 992px) {
    .sidebar {
        width: 80px;
        padding: 0px !important;
        text-align: center;
    }

    .nav .submenu {
        position: absolute;
    }

    .main-content {
        margin-left: 80px;
    }

    .sidebar .sidebar-footer .dropdown ul {
        margin-left: 20px !important;
    }

    .nav-item, .dropdown > a {
        border-top: 1px solid #d3d3d363 !important;
        justify-content: center;
        display: flex;
    }

    .nav li a {
        width: 100%;
    }

    .sidebar .nav-link, .dropdown a, .sidebar-title {
        padding: 10px;
        justify-content: center;
    }
    
    .sidebar .nav-link i {
        font-size: 20px;
    }

    .sidebar .sidebar-option-text, .sidebar .sidebar-hr {
        display: none;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }

    .main-content {
        margin-left: 60px;
    }

    .sidebar .nav-link {
        font-size: 14px;
    }

    .sidebar-title {
        margin: 0 !important;
    }
}